select.selectpickers {
  flex-basis: 20% !important;
  width: 0 !important;
  border: 0;
  background: transparent;
  border-right: 1px solid #888 !important;
  border-bottom: 0;
  border-top: 0;
  border-left: 0;
}


.input-group>select,
.input-group>.form-floating {
  flex: none;

}